<!DOCTYPE html>

<html lang="en">
  {% include head %}

  <body>
    {% include header %}
        <main>
            <div class="wrap">
            {{ content }}
            </div>
        </main>
    {% include footer %}
  </body>
</html>
