<!DOCTYPE html>

<html lang="en">
  {% include chunks/head %}
  <body>
    {% include chunks/header %}
        <main>
            <div class="wrap">
              <div class="trunk">
                {{ content }}
              </div>
            </div>
        </main>
    {% include chunks/footer %}
  </body>
</html>
