<header>
  <nav aria-label="Site">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/accessibility/">Accessibility</a>
      </li>
    </ul>
  </nav>
</header>
