<!DOCTYPE html>
    <html lang="en">
      {% include head %}

      <body>
        {% include header %}
        
        <h1>Minuses and plusses tests</h1>
        <h2>Using default keyboard dash -</h2>
        <ul>
            <li> Change -1</li>
            <li> Change +6</li>
            <li> Change -5</li>
            <li> Change 0</li>
            <li> Change -</li>
        </ul>
        <h2>Using special character dash −</h2>
        <ul>
            <li> Change −1</li>
            <li> Change +6</li>
            <li> Change −5</li>
            <li> Change 0</li>
            <li> Change −</li>
        </ul>
        {% include footer %}
      </body>
    </html>
  </body>
</html>
