<header class="header">
  <nav aria-label="Site">
    <ul class="nav__list">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/accessibility/">Accessibility</a>
      </li>
    </ul>
  </nav>
</header>
