---
layout: default.liquid
mainHeading: "Sophie Codes"
---

  <div class="intro">
    <div>
      <h1>{{ mainHeading }}</h1>
      <p>Site currently WIP and being used mostly for accessibility testing purposes.</p>
      <h2>Socials</h2>
      <ul>
        <li><a href="https://twitter.com/Seraphae">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/beaumontsophie/">LinkedIn</a></li>
      </ul>
    </div>
  </div>
